/* Default */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f8ff;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #093FB4;
    color: white;
    padding: 0.5rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    /* height: 50px; */
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 25%;
    border: 2px solid white;
    background-size: 100% 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .subnav {
    display: flex;
    gap: 2rem;
}

.subnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    border-bottom: 2px solid #ccc;
    margin: auto;
    background: #020024;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 6%, rgba(8, 36, 139, 1) 23%, rgba(7, 66, 159, 1) 49%, rgba(0, 212, 255, 1) 100%); */
    background: url(../img/header.png) no-repeat bottom;
    color: white;
}

.profile{
    width: 300px;
    height: 300px;
    border-radius: 25%;
    border: 2px solid white;
    background: url(../img/profile.jpg) no-repeat center;
    background-size: 100% 100%;
    
    margin: auto;

    transition: transform 0.5s ease, filter 0.5s ease;
}
.profile:hover{
    background: url(../img/profile-cover.jpg) no-repeat bottom;
    background-size: 100% 100%;

    transform: scale(1.1); /* memperbesar sedikit */
}

.hero-text {
    width: 70%;
}
.hero-text h1 {
    width: fit-content;
    font-weight: bold;
}
.hero-text p {
    margin-top: 1rem;
    text-align: justify;
    line-height: 2rem;
    font-size: large;
}
.hero-profile {
    text-align: center;
    line-height: 1rem;
}

.hero-profile h3 {
    margin: 1rem 0 0.5rem;
}

.hero-profile b{
    font-size: x-large;
}

.btn-success {
  background-color: #28a745;   /* warna hijau */
  color: white;                /* warna teks */
  padding: 10px 20px;          /* jarak dalam */
  border: none;                /* hilangkan border default */
  border-radius: 5px;          /* sudut melengkung */
  font-size: 16px;             /* ukuran teks */
  cursor: pointer;             /* ubah kursor menjadi tangan */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-success:hover {
  background-color: #218838;   /* hijau lebih gelap */
  transform: scale(1.05);      /* sedikit membesar */
}

/* Journey */
.journey-experience {
    margin: 8rem auto 3rem;
    border-bottom: 2px solid #ccc;
    padding: 2rem 8rem;
    background: 0046FF;
}

.journey-experience > div{ /* .journey and .experience */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* margin-bottom: 5rem; */
}

.journey-experience > .journey,.experience-list{
    margin-bottom: 5rem;
}

.journey-experience > div > .journey-text, .experience-text { /* .journey-text and .experience-text */
    width: 70%;
    line-height: 2rem;
    font-size: large;
}

.journey-text p { 
    text-align: justify; 
}
.experience-text p { 
    text-align: justify; 
}

.journey-text h2 { text-align: right; }
.experience-text h2 { text-align: left; }


.journey-image img {
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* .journey-image{
    width: 25%;
    height: auto;
    display: flex;

    align-items: start;
} */

.experience-list{
    display: flex;
    flex-direction: column;
}

.experience-list > div {
    display: flex;

    margin-top: 0px;
    margin-bottom: 1.5rem;
}

.experience-detail > img {
    width: 300px;
    height: 250px;

    margin-right: 1rem;
}

.company-header{
    margin-top: 1rem;
    line-height: 0.5rem;
}

/* footer */
footer {
    text-align: center;
    background: #007BFF;
    color: white;
    padding: 1rem;
}

/* mobile */ 
@media (max-width: 576px) {
    .logo img {
        width: 30px;
        height: 30px;
    }
    
    nav {
        flex-direction: column;
        align-items: first baseline;
    }
    
    nav .subnav ul {
        display: none;
        gap: 1rem;
    }

    nav .logo:hover{
        padding-bottom: 1rem;
    }
    
    nav .logo:hover ~ .subnav ul {
        display: flex;
        flex-direction: column;
    }

    nav .subnav ul:hover {
        padding-top: 1rem;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    nav a {
        font-size: 0.9rem;
    }

    /* Hero Section */
    .hero {
        padding: 3rem 1rem;
        flex-direction: column; 
    }

    .hero-text {
        padding: 0rem 1rem;
        margin-top: 50px;
        order: 2;
        width: 100%;
    }

    .hero-profile {
        order: 1;
        width: 100%;
    }

    .hero-profile h2{
        font-size: large;
    }

    .hero-profile b{
        font-size: large;
    }

    .profile{
        width: 200px;
        height: 200px;

        margin: auto;
    }

    .hero-text h1 {
        margin: auto;
        font-size: large;
    }
    .hero-text p {
        text-align: justify;
        line-height: 1.6;
        font-size: small;
    }

    /* Journey */
    .journey-experience {
        width: 100%;
        margin: 0;
        padding: 5rem 0 2rem;
    }

    .journey-experience > div{ /* .journey and .experience */
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .journey-experience > .journey,.experience-list{
        margin-bottom: 2rem;
    }

    .journey-experience > div > .journey-text { /* .journey-text and .experience-text */
        line-height: 1rem;
        font-size: small;
    }

    .journey-experience > div > .experience-text { /* .journey-text and .experience-text */
        order: 2;
        line-height: 1rem;
        font-size: small;
    }

    .journey-text h2 { text-align: center; }
    .experience-text h2 { text-align: center; }


    .journey-image img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .experience-list > div {
        display: flex;
        flex-direction: column;

        margin-top: 0px;
        margin-bottom: 1.5rem;
    }

    .experience-detail > img {
        width: 250px;
        height: 175px;


        margin: 0.5rem auto;
    }

    .experience-company{
        width: 250px;

        margin: 0rem auto;
    }

    .company-header{
        margin-top: 1rem;
        line-height: 0.5rem;
    }

    /* Footer */

    footer {
        padding: 0.5rem;
        font-size: small;
    }
}

@media (min-width: 577px) and (max-width: 767px) { 
    /* smartphone besar */ 
    .logo img {
        width: 30px;
        height: 30px;
    }
    nav {
        gap: 1rem;
    }
    nav a {
        font-size: 0.9rem;
    }

    /* Hero Section */
    .hero {
        padding: 3rem 1rem;
        flex-direction: column; 
    }

    .hero-text {
        padding: 0rem 1rem;
        margin-top: 50px;
        order: 2;
        width: 100%;
        line-height: 3rem;
    }

    .hero-profile {
        order: 1;
        width: 100%;
    }

    .hero-profile h2{
        font-size: x-large;
    }

    .hero-profile b{
        font-size: x-large;
    }

    .profile{
        width: 250px;
        height: 250px;

        margin: auto;
    }

    .hero-text h1 {
        margin: auto;
        font-size: x-large;
    }
    .hero-text p {
        margin-top: 0;
        text-align: justify;
        line-height: 1.5rem;
        font-size: medium;
    }

    /* Journey */
    .journey-experience {
        width: 100%;
        margin: 0;
        padding: 5rem 0 2rem;
    }

    .journey-experience > div{ /* .journey and .experience */
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .journey-experience > .journey,.experience-list{
        margin-bottom: 2rem;
    }

    .journey-experience > div > .journey-text { /* .journey-text and .experience-text */
        line-height: 1.2rem;
        font-size: medium;
    }

    .journey-experience > div > .experience-text { /* .journey-text and .experience-text */
        order: 2;
        line-height: 1.2rem;
        font-size: medium;
    }

    .journey-text h2 { text-align: center; }
    .experience-text h2 { text-align: center; }


    .journey-image img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-bottom: 1.5rem;
    }
    
    .experience-list > div {
        display: flex;
        flex-direction: column;

        margin-top: 0px;
        margin-bottom: 1.5rem;
    }

    .experience-detail > img {
        width: 275px;
        height: 225px;


        margin: 0.5rem auto;
    }

    .experience-company{
        width: 275px;

        margin: 0rem auto;
    }

    .company-header{
        margin-top: 1rem;
        line-height: 0.5rem;
    }

    /* footer */
    footer {
        padding: 0.5rem;
        font-size: medium;
    }

}
@media (min-width: 768px) and (max-width: 1199px) { 
    /* tablet and laptop */ 
    .hero {
        padding: 2rem 5rem;
    }
    .profile{
        width: 275px;
        height: 275px;

        margin: auto;
    }

    .journey-experience {
        /* width: 100%; */
        margin: auto;
        padding: 5rem 1rem 2rem;
    }

    .journey-image img {
        width: 275px;
        height: 275px;
        border-radius: 50%;
        margin-bottom: 1.5rem;
    }

    .journey-experience > div > .journey-text, .experience-text { /* .journey-text and .experience-text */
        width: 80%;
    }

    .journey-experience .journey-image{
        padding: 1.5rem;
        box-sizing: border-box;
    }

    /* .journey-image{
        width: 25%;
        height: auto;
        display: flex;

        align-items: start;
    } */

    .experience-list > div {
        display: flex;

        margin-top: 0px;
        margin-bottom: 1.5rem;
    }

    .experience-detail > img {
        width: 300px;
        height: 250px;

        margin-right: 1rem;
    }

    .company-header{
        margin-top: 1rem;
        line-height: 0.5rem;
    }

    /* footer */

}

@media (min-width: 1200px) { /* desktop */ }
